{% extends "account_layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block heading %}
    <div class="overview-wrap">
        <h2 class="title-1 mb-3">Mes rendez-vous</h2>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive table--no-card m-b-30">
                <table class="table table-borderless table-striped table-earning">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Thérapeute</th>
                        <th>Statut</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% if appoints|length %}
                        <tbody>
                        {% for a in appoints %}
                            <tr>
                                <td>{{ a.id }}</td>
                                <td>{{ a.bookingDate|date('d/m/Y') }}</td>
                                <td>{{ a.bookingStart|date('H:i') }}</td>
                                <td>{{ a.bookingEnd|date('H:i') }}</td>
                                <td>{{ a.therapist.email }}</td>
                                <td>
                                    {{ constant('App\\Entity\\Appointment::STATUS')[a.status] }}
                                </td>
                                <td>
                                    {% if date(a.bookingDate) < date('+24hours') %}
                                        <a href="{{ path('patient_appointment_cancel', {'id': a.id}) }}" class="btn btn-outline-warning">
                                            Annuler
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% else %}
                        <p>Vous n'avez pas encore de rendez-vous !</p>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}