{% extends "account_layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block heading %}
    <div class="overview-wrap">
        <h2 class="title-1 mb-3">Recherche</h2>
    </div>
{% endblock %}

{% set user = current_user %}

{% block body %}
    <div id="patient_search" data-user="{{ user.id }}" data-country="{{ user.country }}" data-default-department="{{ user.department.id }}"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('patient_search') }}
{% endblock %}