{% extends "account_layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% set form = change_password_form %}

{% block heading %}
    <div class="overview-wrap">
        <h2 class="title-1 mb-3">Sécurité</h2>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 order-md-1">
            {{ form_start(form) }}
            <fieldset class="form-group">
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first, {
                    'attr': {
                        'placeholder': "Votre nouveau mot de passe",
                        'class': "form-control"
                    }
                }) }}
            </fieldset>
            <fieldset class="form-group">
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second, {
                    'attr': {
                        'placeholder': "Confirmez votre nouveau mot de passe",
                        'class': "form-control"
                    }
                }) }}
            </fieldset>
            <button class="btn btn-primary btn-md btn-block" type="submit">Valider mon nouveau mot de passe</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 order-md-1">
            {% if appointments|length > 0 %}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" disabled data-toggle="modal" data-target="#exampleModal">
                    La suppression de compte n'est pas disponible car vous avez des réservations en cours.
                </button>
            {% else %}
                <a class="btn btn-danger" href="{{ path('patient_account_delete', {'id': app.user.id}) }}">
                    Supprimer mon compte (sans confirmation et irréversible)
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}