{% extends "account_layout.html.twig" %}

{% set form = change_password_form %}

{% block heading %}
    <div class="overview-wrap">
        <h2 class="title-1 mb-3">Sécurité</h2>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 order-md-1">
            {{ form_start(form) }}
            <fieldset class="form-group">
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first, {
                    'attr': {
                        'placeholder': "Votre nouveau mot de passe",
                        'class': "form-control"
                    }
                }) }}
            </fieldset>
            <fieldset class="form-group">
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second, {
                    'attr': {
                        'placeholder': "Confirmez votre nouveau mot de passe",
                        'class': "form-control"
                    }
                }) }}
            </fieldset>
            <button class="btn btn-primary btn-md btn-block" type="submit">Valider mon nouveau mot de passe</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 order-md-1">
            {% if appointments|length > 0 %}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" disabled data-toggle="modal" data-target="#exampleModal">
                    La suppression de compte n'est pas disponible car vous avez des réservations en cours.
                </button>
            {% else %}
                <a class="btn btn-danger" href="{{ path('patient_account_delete') }}">
                    Supprimer mon compte (sans confirmation et irréversible)
                </a>
                {#<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    Supprimer mon compte
                </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Supprimer mon compte</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Êtes-vous certain-e de vouloir supprimer votre compte ?</p>
                                <p>Cette action est irréversible.</p>
                                <form action="{{ path('patient_account_delete') }}" method="post">
                                    <label for="password">Veuillez entrer votre mot de passe</label>
                                    <input type="password" id="password" name="password" placeholder="Votre mot de passe">
                                    <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>#}
            {% endif %}
        </div>
    </div>
{% endblock %}