{% extends "account_layout.html.twig" %}

{% block heading %}
    <div class="overview-wrap">
        <h2 class="title-1 mb-3">Utilisateurs en attente de validation</h2>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Date inscription</th>
                    <th>Role</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Validé</th>
                    <th>Pays</th>
                    <th>Département</th>
                    <th></th>
                </tr>
                </thead>
                {% if waiting_users|length %}
                    <tbody>
                    {% for u in waiting_users %}
                        <tr>
                            <td>{{ u.email }}</td>
                            <td>{{ u.createdAt|date('d/m/Y') }}</td>
                            <td>
                                {{ u.roles|last }}
                            </td>
                            <td>{{ u.lastName }}</td>
                            <td>{{ u.firstName }}</td>
                            <td>{{ u.isActive }}</td>
                            <td>
                                {% if u.country is defined %}
                                    {{ constant('App\\Entity\\Department::COUNTRIES')[u.country] }}
                                {% endif %}
                            </td>
                            <td>
                                {% if u.department is defined %}
                                    {{ u.department.name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if u.isActive == false %}
                                    <a href="{{ path('manager_resend_email_confirmation', {'id': u.id}) }}" class="btn btn-primary">
                                        Renvoyer l'email de confirmation
                                    </a>
                                {% endif %}
                                {% if u.isActive == false %}
                                    <a href="{{ path('manager_activate_user', {'id': u.id}) }}" class="btn btn-primary">
                                        Activer
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <p>Tous les utilisateurs sont activés.</p>
                {% endif %}
            </table>
        </div>
        {{ knp_pagination_render(waiting_users) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}