{% extends "account_layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('ngo-press/css/jquery-ui.min.css') }}">
{% endblock %}

{% block heading %}
    <div class="overview-wrap">
        <h2 class="title-1 mb-3">Modification d'une disponibilité</h2>
    </div>
{% endblock %}

{% set form = appointment_form %}

{% block body %}
    <div class="container-fluid">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <fieldset class="form-group">
                    {{ form_label(form.bookingDate) }}
                    {{ form_widget(form.bookingDate, {'attr': {'class': 'form-control'}}) }}
                </fieldset>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <fieldset class="form-group">
                    {{ form_label(form.bookingStart) }}
                    {{ form_widget(form.bookingStart, {'attr': {'class': 'booking_start_picker'}}) }}
                </fieldset>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <fieldset class="form-group">
                    {{ form_label(form.bookingEnd) }}
                    {{ form_widget(form.bookingEnd, {'attr': {'class': 'booking_end_picker'}}) }}
                </fieldset>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <fieldset class="form-group">
                    <button class="btn btn-primary" type="submit">Enregistrer les modifications</button>
                </fieldset>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ngo-press/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('ngo-press/js/therapist_availabilities.js') }}"></script>
{% endblock %}