{% extends "account_layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block heading %}
    <div class="overview-wrap">
        <h2 class="title-1 mb-3">Disponibilités</h2>
    </div>
{% endblock %}

{% set form = appointment_form %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="mb-2">
                    Vous êtes libre de choisir la durée des séances : 30, 40, 45 minutes, c’est vous qui décidez en fonction de votre pratique et de ce qui vous semble le plus ajusté à la situation.
                </p>
                <p class="mb-2">
                    Par exemple, si vous décidez de consacrer 30 minutes à chaque séance, et que vous souhaitez vous rendre disponible un matin entre 9h et 12h30 vous devez entrer manuellement la totalité des créneaux. De 9h à 9h30 puis de 9h30 à 10h ou de 9h40 à 10h10 si vous souhaitez vous accorder une pause, puis de 10h10 à 10h40, etc. Vous ne devez pas entrer un créneau de 9h à 12h30.
                </p>
                <p class="mb-2">
                    Nous avons choisi cette option car il nous semblait important que chaque thérapeute ait le choix de son organisation.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            {% if permission is defined and permission == true %}
                <!-- Button trigger modal -->
                <button type="button" id="btn_add_availability" class="btn btn-primary" data-toggle="modal" data-target="#modalCreateAvailability">
                    Ajouter un créneau
                </button>
            {% endif %}
        </div>
    </div>
    <div class="row mt-5" id="add_availability_form">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <fieldset class="form-group">
                    {{ form_label(form.bookingDate) }}
                    {{ form_widget(form.bookingDate, {'attr': {'class': 'form-control'}}) }}
                </fieldset>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <fieldset class="form-group">
                    {{ form_label(form.bookingStart) }}
                    {{ form_widget(form.bookingStart, {'attr': {'class': 'booking_start_picker'}}) }}
                </fieldset>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <fieldset class="form-group">
                    {{ form_label(form.bookingEnd) }}
                    {{ form_widget(form.bookingEnd, {'attr': {'class': 'booking_end_picker'}}) }}
                </fieldset>
            </div>
            <div class="col-md-12 col-sm-6">
                <fieldset class="form-group">
                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                </fieldset>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="row">
        <div class="col-md-4">
            <form class="form-inline" action="{{ path('therapist_availabilities') }}" method="get" id="table_filter_form">
                <fieldset class="form-group">
                    <label for="date_filter">Filter par date</label>
                    <input type="date" name="date_filter" id="date_filter" class="form-control" value="{% if filters.date_filter is defined %}{{ filters.date_filter ?: filters.date_filter }}{% endif %}">
                </fieldset>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="table-responsive table-responsive-data2">
            <table class="table table-striped table-data2" data-toggle="table" id="availabilitiesTable">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Statut</th>
                    <th></th>
                </tr>
                </thead>
                {% if availabilities|length > 0 %}
                    <tbody>
                    {% for a in availabilities %}
                        <tr>
                            <td>{{ a.bookingDate|date('d/m/Y') }}</td>
                            <td>{{ a.bookingStart|date('H:i') }}</td>
                            <td>{{ a.bookingEnd|date('H:i') }}</td>
                            <td>
                                {{ constant('App\\Entity\\Appointment::STATUS')[a.status] }}
                            </td>
                            <td>
                                <!-- Button trigger modal -->
                                {% if a.booked == false %}
                                    <a href="{{ path('therapist_availability_edit', {'id': a.id}) }}" class="btn btn-outline-primary">
                                        <i class="fa fa-edit"></i> Modifier
                                    </a>
                                    <a href="{{ path('therapist_availability_delete', {'id': a.id}) }}" class="btn btn-outline-danger">
                                        <i class="fa fa-times"></i> Supprimer
                                    </a>
                                {% endif %}

                                {#{% include "_modales/_delete_availability.html.twig" %}#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    {% if app.request.query.has('date_filter') %}
                        <p>Vous n'avez enregistré aucune disponibilité pour le {{ app.request.query.get('date_filter') }}</p>
                    {% else %}
                        <p>Vous n'avez pas encore enregistré vos disponibilité.</p>
                    {% endif %}
                {% endif %}
            </table>
            {{ knp_pagination_render(availabilities) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('therapist_availabilities') }}
{% endblock %}