{% extends "account_layout.html.twig" %}

{% block heading %}
    <div class="overview-wrap">
        <h2 class="title-1 mb-3">Historique</h2>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                <tr>
                    <th>Date action</th>
                    <th>Date</th>
                    <th>Début</th>
                    <th>Malus</th>
                    <th>Statut réservation</th>
                    <th>Action</th>
                </tr>
                </thead>
                {% if history|length %}
                    <tbody>
                    {% for h in history %}
                        <tr>
                            <td>{{ h.actionedAt|date('d/m/Y H:i') }}</td>
                            <td>
                                {% if h.bookingHistory is not null %}
                                    {{ h.bookingHistory.bookingDate|date('d/m/Y') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if h.bookingHistory is not null %}
                                    {{ h.bookingHistory.bookingStart|date('H:i') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>{{ h.usersHistory.patientMalus }}</td>
                            <td>
                                {% if h.bookingHistory is not null %}
                                    {{ constant('App\\Entity\\Appointment::STATUS')[h.bookingHistory.status] }}
                                {% endif %}
                            </td>
                            <td>{{ constant('App\\Entity\\History::ACTIONS')[h.action] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <p>Votre historique est vide pour l'instant !</p>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}